.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s;
    text-decoration: none;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .title {
    font-size: 1.2rem;
    margin: 0.5rem;
    text-decoration: none;
  }
  
  .description {
    font-size: 0.9rem;
    margin: 0.5rem;
    color: #312f2f;
    text-decoration: none;
  }
  
  .date {
    font-size: 0.8rem;
    margin: 0.5rem;
    color: #777;
  }

  .card p {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1em;
  }
